<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "CS:GO Informer - Counter Strike news, tips, and tutorials" %></title>
    <%= stylesheet_link_tag "site", "global" %>
    <%= yield_content :stylesheets %>
  </head>

  <body class="<%= page_classes %>">
    <nav class="navbar navbar-full navbar-dark">
      <div class="container">
        <ul class="nav navbar-nav">
          <%= nav_item "Home", "index.html" %>
          <%= nav_item "About", "about.html" %>
          <%= nav_item "Teams", "teams.html" %>
          <%= nav_item "Contact", "contact.html" %>
        </ul>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>

    <footer class="footer-menu">
      <div class="container">
        <div class="row">
          <div class="col-md-4 footer-menu">
            <nav class="footer-nav">
              <h4>Navigation</h4>
              <ul class="nav">
                <%= nav_item "Home", "index.html" %>
                <%= nav_item "About", "about.html" %>
                <%= nav_item "Teams", "teams.html" %>
                <%= nav_item "Contact", "contact.html" %>
              </ul>
            </nav>
          </div>
          <div class="col-md-4 footer-menu">
            <h4>Social Media</h4>
            <ul class="nav social-links">
              <%= nav_item "Steam", "http://steamcommunity.com/groups/csgoinformer" %>
              <%= nav_item "Facebook", "https://www.facebook.com/csgoinformer/" %>
              <%= nav_item "Twitter", "https://twitter.com/CSGO_Informer" %>
            </ul>
          </div>
          <div class="col-md-4 footer-menu">
            <h4>Contact Us</h4>
            <ul class="nav contact-links">
              <%= nav_item "Contact", "contact.html" %>
              <%= nav_item "Request to update player or team profile", "contact_form.html" %>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <footer class="credits">
      <div class="container">
        <div>Social media icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
        <div>Steam icon made by <a href="http://www.flaticon.com/authors/zurb" title="Zurb">Zurb</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
      </div>
    </footer>
  </body>
</html>
