<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "CS:GO Informer - Counter Strike news, tips, and tutorials" %></title>
  </head>

  <body class="<%= page_classes %>">
    <nav class="navbar">
      <div class="container">
        <ul class="nav-links">
          <li><%= link_to "Home", "index.html" %></li>
          <li><%= link_to "About", "about.html" %></li>
          <li><%= link_to "News", "#" %></li>
          <li><%= link_to "Events", "#" %></li>
          <li><%= link_to "Teams", "#" %></li>
          <li><%= link_to "Contact", "contact.html" %></li>
        </ul>
    </nav>

    <%= yield %>

    <footer>
      <div class="footer-menu">
        <nav class="footer-nav">
          <h4>Navigation</h4>
          <div class="container">
            <ul class="nav-links">
              <li><%= link_to "Home", "index.html" %></li>
              <li><%= link_to "About", "about.html" %></li>
              <li><%= link_to "News", "#" %></li>
              <li><%= link_to "Events", "#" %></li>
              <li><%= link_to "Teams", "#" %></li>
              <li><%= link_to "Contact", "contact.html" %></li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="footer-menu">
        <h4>Social Media</h4>
        <div class="container">
          <ul class="social-links">
            <li><%= link_to "Facebook", "#" %></li>
            <li><%= link_to "Twitter", "#" %></li>
            <li><%= link_to "Steam", "#" %></li>
          </ul>
        </div>
      </div>
      <div class="footer-menu">
        <h4>Contact Us</h4>
        <div class="container">
          <ul class="contact-links">
            <li><%= link_to "Contact", "contact.html" %></li>
            <li><%= link_to "Forms", "#" %></li>
            <li><%= link_to "Inquiries", "#" %></li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
