<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "CS:GO Informer - Counter Strike news, tips, and tutorials" %></title>
    <%= stylesheet_link_tag "site", "global" %>
    <%= yield_content :stylesheets %>
  </head>

  <body class="<%= page_classes %>">
    <div class="page-wrapper">
      <nav class="navbar navbar-full navbar-dark">
        <button id="nav-toggle" class="hidden-md-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span></span>
          <span></span>
        </button>
        <div class="container collapse navbar-toggleable-md" id="navbarResponsive">
          <ul class="nav navbar-nav">
            <%= nav_item text: "Home", path: "index.html" %>
            <%= nav_item text: "News", path: "news.html" %>
            <%= nav_item text: "About", path: "about.html" %>
            <% nav_item path: "teams" do %>
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                Teams
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="clg.html">CLG</a></li>
                <li><a href="cloud9.html">Cloud9</a></li>
                <li><a href="sk_gaming.html">SK Gaming</a></li>
                <li><a href="team_liquid.html">Team Liquid</a></li>
              </ul>
            <% end %>
            <% nav_item path: "contact" do %>
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                Contact
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="contact.html">About the Author</a></li>
                <li><a href="contact_general.html">General Inquiries</a></li>
                <li><a href="contact_player.html">Update Profile</a></li>
              </ul>
            <% end %>
          </ul>
        </div>
      </nav>

      <div class="body-wrapper container">
        <%= yield %>
      </div>

      <div class="footer-wrapper">
        <footer class="footer-menu">
          <div class="container">
            <div class="row">
              <div class="col-md-4 footer-menu">
                <nav class="footer-nav">
                  <h4>Navigation</h4>
                  <ul class="nav">
                    <%= nav_item text: "Home", path: "index.html" %>
                    <%= nav_item text: "About", path:"about.html" %>
                    <%= nav_item text: "Teams", path: "teams.html" %>
                    <%= nav_item text: "Contact", path: "contact.html" %>
                  </ul>
                </nav>
              </div>
              <div class="col-md-4 footer-menu">
                <h4>Social Media</h4>
                <ul class="nav social-links">
                  <%= nav_item text: "Steam", path: "http://steamcommunity.com/groups/csgoinformer" %>
                  <%= nav_item text: "Facebook", path: "https://www.facebook.com/csgoinformer/" %>
                  <%= nav_item text: "Twitter", path: "https://twitter.com/CSGO_Informer" %>
                </ul>
              </div>
              <div class="col-md-4 footer-menu">
                <h4>Contact Us</h4>
                <ul class="nav contact-links">
                  <%= nav_item text: "General inquiries", path: "contact_general.html" %>
                  <%= nav_item text: "Update player or team profile", path: "contact_player.html" %>
                </ul>
              </div>
            </div>
          </div>
        </footer>
        <footer class="credits">
          <div class="container">
            <div>Social media icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
            <div>Steam icon made by <a href="http://www.flaticon.com/authors/zurb" title="Zurb">Zurb</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
          </div>
        </footer>
      </div>
    </div>
    <%= javascript_include_tag "jquery-3.1.1.min.js" %>
    <%= javascript_include_tag "tether.min.js" %>
    <%= javascript_include_tag "bootstrap.min.js" %>
    <%= yield_content :javascripts %>
  </body>
</html>
