---
title: "SK Gaming - Professional CS:GO Team"
---
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "teams" %>
  <%= stylesheet_link_tag "slick" %>
  <%= stylesheet_link_tag "slick-theme" %>
<% end %>
<% content_for :javascripts do %>
  <%= javascript_include_tag "slick.min.js" %>
  <%= javascript_include_tag "teams" %>
<% end %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="teams-carousel">
      <figure>
        <%= image_tag "teams/sk_gaming1.jpg" %>
        <figcaption>
          Image credit
          <%= link_to "Liquipedia", "http://wiki.teamliquid.net/counterstrike/SK_Gaming" %>
        </figcaption>
      </figure>
      <figure>
        <%= image_tag "teams/sk_gaming2.jpg" %>
        <figcaption>
          Image credit
          <%= link_to "@ESLCS", "https://twitter.com/ESLCS" %>
        </figcaption>
      </figure>
    </div>
  </div>
</div>

<div class="team-title">
  <h1>SK Gaming</h1>
  <p class="player-images-disclaimer">
    Player images borrowed from
    <a href="http://wiki.teamliquid.net/counterstrike/Main_Page">Liquipedia</a>
  </p>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="team-players">
      <div class="team-players-player">
        <div class="team-players-player-header">
          <%= image_tag "teams/fallen.png" %>
          <span>FalleN</span>
          <%= image_tag "plus_icon.png", class: "player-expand" %>
          <%= image_tag "minus_icon.png", class: "player-expand hidden" %>
        </div>
        <div class="team-players-player-bio clearfix">
          <div class="col-md-5">
            <table class="teams-player-table">
              <tr>
                <td>Name</td>
                <td>Gabriel Toledo</td>
              </tr>
              <tr>
                <td>Country</td>
                <td>Brazil</td>
              </tr>
              <tr>
                <td>Role</td>
                <td>Awper / In Game Leader</td>
              </tr>
              <tr>
                <td>Joined</td>
                <td>2016-07-01</td>
              </tr>
            </table>
            <% content_tag :button, class: "btn btn-danger player-stats",
              data: { player_id: "76561197960690195", player_name: "FalleN" } do %>
              Show Stats
            <% end %>
          </div>
          <div class="col-md-7">
            FalleN is well known within the CS:GO community as one of the best
            in game leaders in the world. He has led his team to victory in 3
            major titles, as well as numerous smaller tournaments. Even more
            impressive is that fallen manages this while also consistently
            maintaining a position at the top of the scoreboard as one of the
            top AWPers.
          </div>
        </div>
    </div>
  </div>
</div>

<!-- ======= SK Gaming ======= -->
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="table-responsive">
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th class="table-title" colspan="5">SK Gaming</th>
          </tr>
          <tr>
            <th>Steam ID</th>
            <th>Name</th>
            <th>Roles</th>
            <th>Country</th>
            <th>Join Date</th>
          </tr>
        </thead>
        <tbody>
          <% content_tag :tr, class: "players-list-player",
            data: { player_id: "76561197960690195", player_name: "FalleN" } do %>
            <td>FalleN</td>
            <td>Gabriel Toledo</td>
            <td>IGL / AWPer</td>
            <td>Brazil</td>
            <td>2016-07-01</td>
          <% end %>
          <% content_tag :tr, class: "players-list-player",
            data: { player_id: "76561197999186947", player_name: "fer" } do %>
            <td>fer</td>
            <td>Fernando Alvarenga</td>
            <td>Rifler / Entry Fragger</td>
            <td>Brazil</td>
            <td>2016-07-01</td>
          <% end %>
          <% content_tag :tr, class: "players-list-player",
            data: { player_id: "76561198039986599", player_name: "coldzera" } do %>
            <td>coldzera</td>
            <td>Marcelo David</td>
            <td>Rifler / AWPer</td>
            <td>Brazil</td>
            <td>2016-07-01</td>
          <% end %>
          <% content_tag :tr, class: "players-list-player",
            data: { player_id: "76561198130444302", player_name: "fnx" } do %>
            <td>fnx</td>
            <td>Lincoln Lau</td>
            <td>Rifler / Lurker / Entry Fragger</td>
            <td>Brazil</td>
            <td>2016-07-01</td>
          <% end %>
          <% content_tag :tr, class: "players-list-player",
            data: { player_id: "76561198013142296", player_name: "TACO" } do %>
            <td>TACO</td>
            <td>Epitácio de Melo</td>
            <td>Rifler / Entry Fragger</td>
            <td>Brazil</td>
            <td>2016-07-01</td>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= partial "teams/player_modal" %>
