---
title: "Learn CS:GO - Introduction, tutorials, and more"
---

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "about" %>
<% end %>

<div class="row feature-image-wrapper">
  <div class="col-md-12">
    <%= image_tag "CSGO-Header.jpg", class: "featured-image" %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="about-content">
      <h1>The Basics</h1>
      <p>
        Counter-Strike: Global Offensive is the most recent installment in a
        long-running Counter-Strike franchise of first-person shooters. The game
        is based around two opposing teams: the terrorists and counter-terrorists.
        Unlike many other first-person shooters, there is no story line, campaign
        mode, or even tutorials. The game focuses heavily on skill-based team
        play and has a steep learning curve. Many critics of the game cite how
        brutal it is to new players as a primary reason they did not like the
        it. Valve has mitigated this issue somewhat in Global Offensive by
        introducing casual and competitive modes, which will be discussed in the
        next section.
      </p>
    </div>
  </div>

  <div class="col-md-6 about-content">
    <h1>Game Modes</h1>
    <p>
      CS:GO provides a number of different game modes, targetting different play
      styles. The game modes are divided between casual and competitive modes.
      Competitive modes provide matchmaking with a ranking system, while casual
      games modes are intented for fun, casual play. Casual modes are a great
      place to learn the game, but without a ranking system, new players may
      find themselves facing highly skilled veteran players.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12 about-content">
    <h2 class="section-heading">Casual Game Modes</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-6 about-content">
    <h4 class="sub-heading">Arms Race</h4>
    <figure>
      <%= image_tag "csgo_goldknife.jpg", class: "content-image", alt: "Counter strike player with gold knife" %>
      <figcaption>
        Image from <%= link_to "vizzed.com", "http://www.vizzed.com/videogames/screenshots/44/445945/87239/CounterStrike%20Global%20Offensive_2015-01-05_000221420772148.jpg" %>
      </figcaption>
    </figure>
    <p>
      Arms Race is often referred to as gungame in many other online shooters. In
      this game mode players spawn with a specific weapon. Each time the player
      gets a kill with the current weapon they advance to the next level, at which
      point they receive a new weapon. The weapon for the last level is always a
      gold knife; the first player to get a kill with the gold knife wins the
      match. One exception to normal gameplay is when a player gets a knife kill
      while on a gun level; when this happens the player advances to the next
      level and the player they killed is demoted to the previous level.
    </p>
  </div>

  <div class="col-md-6 about-content">
    <h4 class="sub-heading">Demolition</h4>
    <figure>
      <%= image_tag "demolition.jpg", class: "content-image", alt: "Demolition start of round" %>
      <figcaption>
        Image from <%= link_to "YouTube", "https://i.ytimg.com/vi/TvseHwRXVbU/maxresdefault.jpg" %>
      </figcaption>
    </figure>
    <p>
      The demolition game mode has the same objective as the bomb scenario game
      mode. The terrorist team's objective is to plant the bomb and destroy the
      target, while the counter terrorist team must stop them. A round ends when
      either: one team eliminates the entire enemy team, the terrorists plant the
      bomb and it explodes, or the counter terrorist team defuses the bomb.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h4 class="sub-heading">Deatmatch</h4>
    <figure>
      <%= image_tag "csgo_gunfight.png", class: "content-image", alt: "Counter Strike gun fight" %>
      <figcaption>
        Image from <%= link_to "pcgamesn.com", "http://www.pcgamesn.com/sites/default/files/counter-strike_go_psn.0.png" %>
      </figcaption>
    </figure>
    <p>
      The deathmatch game mode has no objective beyond eliminating enemy players.
      Unlike other game modes, when players die they respawn almost immediately.
      The game has a time limit and the winner is determined by the player with
      the most points at the end of the time limit. Players score points by
      eliminating players from the enemy team and gain extra points for getting
      kills with the desired weapon displayed on screen.
    </p>
  </div>

  <div class="col-md-6">
    <h4 class="sub-heading">Bomb Scenario</h4>
    <figure>
      <%= image_tag "csgo_bomb.jpg", class: "content-image", alt: "Counter terrorist carrying a hostage" %>
      <figcaption>
        Image from <%= link_to "worldofleveldesign.com", "http://www.worldofleveldesign.com/categories/csgo-tutorials/images/011-csgo-09.jpg" %>
      </figcaption>
    </figure>
    <p>
      In bomb scenario maps, there are two bombsites labeled A and B located on
      the map somewhere. One player chosen at random each round on the terrorist
      team spawns with a bomb. The terrorist team's objective is to plant the
      bomb at one of the bomb sites. As soon as they do, a 40 second countdown
      timer begins. The counter-terrorist team's objective is to defuse the bomb
      before the time runs out. If the terrorist team succeeds in blowing up a
      bomb site, they win the round. If the counter-terrorists defuse the bomb,
      they win the round. If one team eliminates the entire opponent team before
      either of these happen, they also win the round.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h4 class="sub-heading">Hostage Scenario</h4>
    <figure>
      <%= image_tag "csgo_hostage.jpg", class: "content-image", alt: "Counter terrorist carrying a hostage" %>
      <figcaption>
        Image from <%= link_to "Wikia", "http://counterstrike.wikia.com/wiki/Hostage_rescue" %>
      </figcaption>
    </figure>
    <p>
      In hostage scenario maps, there are several hostages located in fixed
      locations near the terrorist spawn point. The terrorist team's objective
      is to maintain control of the hostages and eliminate the enemy team. The
      counter-terrorist team's objective is to extract a hostage. If any one of
      the hostages is rescued, the counter-terrorist team wins. Otherwise, if
      either team eliminates the other team they win.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2 class="section-heading">Competitive Game Modes</h2>
    <p>
      Competitive game modes bring a thrill to the game for experienced players.
      Players receive a rank based on how many matches they've won or lost, which
      is used to balance skill levels. Players in competitive game modes tend to
      be more serious and play to win. Additionally, competitive modes have
      friendly fire enabled; meaning players can damage their teammates, which is
      not possible in casual modes.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h4 class="sub-heading">Bomb Scenario</h4>
    <p>
      Competitive bomb scenario maps play identically to casual bomb scenario
      maps. They are also the default for tournament play. In some leagues the
      bomb timers are slightly reduced from the standard 40 seconds.
    </p>
  </div>

  <div class="col-md-6">
    <h4 class="sub-heading">Hostage Scenario</h4>
    <p>
      Hostage scenario maps are also identical to casual modes, except that they
      are rarely played in competitive play. The map pool used in professional
      leagues contains exclusively bomb scenario maps, which carries over to the
      maps regular players play in competitive mode.
    </p>
  </div>
</div>
