---
title: "Professional CS:GO teams"
---
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "teams" %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="page-title">
      <h1>Professional Teams</h1>

      <p>
        The teams listed below are professional teams from around the world that
        have recently qualified for a major Counter Strike : Global Offensive event.
      </p>

      <ul class="teams-list">
        <li class="teams-list-team">
          <% link_to "teams/clg.html" do %>
            <%= image_tag "teams/clg_logo.jpg" %>
            <span class="teams-list-name">Counter Logic Gaming</span>
          <% end %>
        </li>
        <li class="teams-list-team">
          <% link_to "teams/cloud9.html" do %>
            <%= image_tag "teams/cloud9_logo.jpg" %>
            <span class="teams-list-name">Cloud9</span>
          <% end %>
        </li>
        <li class="teams-list-team">
          <% link_to "teams/team_liquid.html" do %>
            <%= image_tag "teams/team_liquid_logo.png" %>
            <span class="teams-list-name">Team Liquid</span>
          <% end %>
        </li>
        <li class="teams-list-team">
          <% link_to "teams/sk_gaming.html" do %>
            <%= image_tag "teams/sk_logo.jpg" %>
            <span class="teams-list-name">SK Gaming</span>
          <% end %>
        </li>
    </div>
  </div>
</div>
